node_modules/
/test-results/
packages/*/test-results/
/playwright-report/
packages/*/playwright-report/
/blob-report/
/playwright/.cache/
npm-debug.log*
yarn.lock
pnpm-lock.yaml
*.zip
.env
.env.*
packages/*/.env
packages/*/.env.*
!packages/*/.env.example
!.env.example
packages/**/.env